@page
@model RazorPagesPizza.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-page="./Pizzas/Index">See the pizzas</a>
    </div>
</div>

